<a href="https://colab.research.google.com/github/NayanMattani/Basic-Python/blob/main/Dictionaries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Python script to add a key to a dictionary.
Sample Dictionary : {0: 10, 1: 20}
Expected Result : {0: 10, 1: 20, 2: 30}

In [ ]:
sample_dictionary = {0:10, 1:20}
sample_dictionary[2] = 30
sample_dictionary

{0: 10, 1: 20, 2: 30}

Python script to concatenate the following dictionaries to create a new one.

Sample Dictionary :
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [ ]:
def merge( dict1, dict2, dict3):
  res = dict1 | dict2 | dict3
  return res

dic1={1:10, 2:20} 
dic2={3:30, 4:40}
dic3={5:50, 6:60} 
expected_result = merge(dic1, dic2, dic3)
expected_result

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

Python script to check whether a given key already exists in a dictionary.

In [ ]:
1 in dic1.keys()

True

Python program to iterate over dictionaries using for loops

In [ ]:
for i, j in dic1.items():
  print('key :', i,'value :', j)

key : 1 value : 10
key : 2 value : 20

 Python script to generate and print a dictionary that contains a number (between 1 and n) in the form (x, x*x)
Sample Dictionary ( n = 5) :
Expected Output : {1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [ ]:
n = 5
expected_output = {}
for i in range(1, n+1):
  expected_output[i] = i*i
expected_output

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

Python program to sum all the items in a dictionary.

In [ ]:
dict1 = {'google' : 35, 'microsoft': 45, 'adobe': 34}
sum(dict1.values())

114

Python program to multiply all the items in a dictionary.

In [ ]:
result = 1
for i, j in dict1.items():
  result = result * j
result

53550

Python program to remove a key from a dictionary.

In [ ]:
del dict1['google']
dict1

{'microsoft': 45, 'adobe': 34}

 Python program to sort a given dictionary by key

In [ ]:
dict4={1:10, 2:20, 7:20, 3:40}
sorted(dict4)

[1, 2, 3, 7]

Python program to get the maximum and minimum values of a dictionary.

In [ ]:
print('Minimum value:', min(dict4.values()))
print('Maximum value:', max(dict4.values()))

Minimum value: 10
Maximum value: 40

 Python program to check if a dictionary is empty or not

In [20]:
my_dict = {}
if len(my_dict) > 0:
  print('Dictionary is not empty')
else:
  print('Dictionary is empty')

Dictionary is empty

Python program to combine two dictionary by adding values for common keys.
d1 = {'a': 100, 'b': 200, 'c':300}
d2 = {'a': 300, 'b': 200, 'd':400}
Sample output: Counter({'a': 400, 'b': 400, 'd': 400, 'c': 300})

In [29]:
from collections import Counter
d1 = {'a': 100, 'b': 200, 'c':300} 
d2 = {'a': 300, 'b': 200, 'd':400}
Counter(d1) + Counter(d2)

Counter({'a': 400, 'b': 400, 'c': 300, 'd': 400})

Python program to print all distinct values in a dictionary.
Sample Data : [{"V":"S001"}, {"V": "S002"}, {"VI": "S001"}, {"VI": "S005"}, {"VII":"S005"}, {"V":"S009"},{"VIII":"S007"}]
Expected Output : Unique Values: {'S005', 'S002', 'S007', 'S001', 'S009'}

In [32]:
sample_data = [{"V":"S001"}, {"V": "S002"}, {"VI": "S001"}, {"VI": "S005"}, {"VII":"S005"}, {"V":"S009"},{"VIII":"S007"}] 
values_list = []
for i in sample_data:
  for j, k in i.items():
    values_list.append(k)
set(values_list)

{'S001', 'S002', 'S005', 'S007', 'S009'}

Python program to create a dictionary from a string.
sample string : 'w3resource'
Expected output: {'w': 1, '3': 1, 'r': 2, 'e': 2, 's': 1, 'o': 1, 'u': 1, 'c': 1}

In [34]:
from collections import Counter
sample_string = 'w3resource'
char_list = list(sample_string)
Counter(char_list)

Counter({'w': 1, '3': 1, 'r': 2, 'e': 2, 's': 1, 'o': 1, 'u': 1, 'c': 1})

Python program to print a dictionary in table format.

In [35]:
import pandas as pd
sample_dict = {'name': ['google', 'microsoft', 'amazon', 'adobe'], 'salary': [100, 200, 300, 250]}
df = pd.DataFrame(sample_dict)
df

        name  salary
0     google     100
1  microsoft     200
2     amazon     300
3      adobe     250

Python program to sort Counter by value
Sample data : {'Math':81, 'Physics':83, 'Chemistry':87}
Expected data: [('Chemistry', 87), ('Physics', 83), ('Math', 81)]

In [41]:

from collections import Counter
sample_data = {'Math':81, 'Physics':83, 'Chemistry':87}
x = Counter(sample_data)
x.most_common(

[('Chemistry', 87), ('Physics', 83), ('Math', 81)]

Write a Python program to filter a dictionary based on values.
Original Dictionary:
{'Cierra Vega': 175, 'Alden Cantrell': 180, 'Kierra Gentry': 165, 'Pierre Cox': 190}
Marks greater than 170:
{'Cierra Vega': 175, 'Alden Cantrell': 180, 'Pierre Cox': 190}

In [50]:
 original_dict = {'Cierra Vega': 175, 'Alden Cantrell': 180, 'Kierra Gentry': 165, 'Pierre Cox': 190}
 marks = 170
 new_dict = {}
 for i, j in original_dict.items():
   if j > marks:
    new_dict[i] = j
  
new_dict

{'Cierra Vega': 175, 'Alden Cantrell': 180, 'Pierre Cox': 190}