<a href="https://colab.research.google.com/github/NayanMattani/Basic-Python/blob/main/Lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Python program to sum all the items in a list.

In [1]:
list1 = [10, 20, 30, 10, 30, 60]
sum(list1)

160

Python program to multiply all the items in a list.

In [2]:
[5 * x for x in list1 ]

[50, 100, 150, 50, 150, 300]

Python program to get the largest number and smallest from a list

In [4]:
print('Largest No:', max(list1))
print('Samllest No:', min(list1))

Largest No: 60
Samllest No: 10

Python program to count the number of strings from a given list of strings. The string length is 2 or more and the first and last characters are the same.

In [5]:
sample_list = ['abc', 'xyz', 'aba', '1221']
new_list = []
for i in sample_list:
  if i[0] == i[-1]:
    new_list.append(i)
print(new_list)
print('Count:', len(new_list))

['aba', '1221']
Count: 2

Write a Python program to remove duplicates from a list.

In [8]:
list2 = [10, 10, 20, 30, 40, 10, 20]
print('Unique elements in list', list(set(list2)))

Unique elements in list [40, 10, 20, 30]

Python program to check if a list is empty or not

In [9]:
list3 = []
if len(list3) == 0:
  print('list is empty')
else:
  print('list is not empty')

list is empty

Python program to clone or copy a list

In [10]:
list_copy = list1[:]
list_copy

[10, 10, 20, 30, 40, 10, 20]

Python program to find the list of words that are longer than n from a given list of words

In [11]:
n = 6
list_words = ['google', 'microsoft', 'mckinsey', 'JPMorgan', 'MorganSatnley']
list_with_n = []
for i in list_words:
  if len(i) > n:
    list_with_n.append(i)

print('List of words with more than n:', list_with_n)

List of words with more than n: ['microsoft', 'mckinsey', 'JPMorgan', 'MorganSatnley']

Write a Python function that takes two lists and returns True if they have at least one common member.

In [12]:
def common_member(lst1, lst2):
  if len(set(lst1) & set(lst2)) > 0:
    return True
  else:
    return False 

list3 = [10, 40, 30, 80]
list4 = [20, 40, 30, 90]
common_member(list3, list4)

True

Python program to print a specified list after removing the 0th, 4th and 5th elements.
Sample List : ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
Expected Output : ['Green', 'White', 'Black']

In [13]:
sample_list =  ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
expected_list = []
for i, j in enumerate(sample_list):
  if i not in (0, 4, 5):
    expected_list.append(j)
expected_list

['Green', 'White', 'Black']

Python program to calculate the difference between the two lists.

In [14]:
list1 = [10, 40, 30, 80]
list2 = [20, 40, 30, 90]
set(list1) - set(list2)

{10, 80}

Python program to access the index of a list

In [15]:
list1 = [10, 40, 30, 80]
for i, j in enumerate(list1):
  print('Index ', i, ' value ', j)

Index  0  value  10
Index  1  value  40
Index  2  value  30
Index  3  value  80

Python program to convert a list of characters into a string.

In [16]:
list_chars = ['m', 'i', 'c', 'r', 'o', 's', 'o', 'f', 't']
string = ''.join(list_chars)
string

'microsoft'