<a href="https://colab.research.google.com/github/NayanMattani/Basic-Python/blob/main/Lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Python program to sum all the items in a list.

In [ ]:
list1 = [10, 20, 30, 10, 30, 60]
sum(list1)

160

Python program to multiply all the items in a list.

In [ ]:
[5 * x for x in list1 ]

[50, 100, 150, 50, 150, 300]

Python program to get the largest number and smallest from a list

In [ ]:
print('Largest No:', max(list1))
print('Samllest No:', min(list1))

Largest No: 60
Samllest No: 10

Python program to count the number of strings from a given list of strings. The string length is 2 or more and the first and last characters are the same.

In [ ]:
sample_list = ['abc', 'xyz', 'aba', '1221']
new_list = []
for i in sample_list:
  if i[0] == i[-1]:
    new_list.append(i)
print(new_list)
print('Count:', len(new_list))

['aba', '1221']
Count: 2

Write a Python program to remove duplicates from a list.

In [ ]:
list2 = [10, 10, 20, 30, 40, 10, 20]
print('Unique elements in list', list(set(list2)))

Unique elements in list [40, 10, 20, 30]

Python program to check if a list is empty or not

In [ ]:
list3 = []
if len(list3) == 0:
  print('list is empty')
else:
  print('list is not empty')

list is empty

Python program to clone or copy a list

In [ ]:
list_copy = list1[:]
list_copy

[10, 20, 30, 10, 30, 60]

Python program to find the list of words that are longer than n from a given list of words

In [ ]:
n = 6
list_words = ['google', 'microsoft', 'mckinsey', 'JPMorgan', 'MorganSatnley']
list_with_n = []
for i in list_words:
  if len(i) > n:
    list_with_n.append(i)

print('List of words with more than n:', list_with_n)

List of words with more than n: ['microsoft', 'mckinsey', 'JPMorgan', 'MorganSatnley']

Write a Python function that takes two lists and returns True if they have at least one common member.

In [ ]:
def common_member(lst1, lst2):
  if len(set(lst1) & set(lst2)) > 0:
    return True
  else:
    return False 

list3 = [10, 40, 30, 80]
list4 = [20, 40, 30, 90]
common_member(list3, list4)

True

Python program to print a specified list after removing the 0th, 4th and 5th elements.
Sample List : ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
Expected Output : ['Green', 'White', 'Black']

In [ ]:
sample_list =  ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
expected_list = []
for i, j in enumerate(sample_list):
  if i not in (0, 4, 5):
    expected_list.append(j)
expected_list

['Green', 'White', 'Black']

Python program to calculate the difference between the two lists.

In [ ]:
list1 = [10, 40, 30, 80]
list2 = [20, 40, 30, 90]
set(list1) - set(list2)

{10, 80}

Python program to access the index of a list

In [ ]:
list1 = [10, 40, 30, 80]
for i, j in enumerate(list1):
  print('Index ', i, ' value ', j)

Index  0  value  10
Index  1  value  40
Index  2  value  30
Index  3  value  80

Python program to convert a list of characters into a string.

In [ ]:
list_chars = ['m', 'i', 'c', 'r', 'o', 's', 'o', 'f', 't']
string = ''.join(list_chars)
string

'microsoft'

Python program to flatten a shallow list.

In [ ]:
import itertools
original_list = [[2,4,3],[1,5,6], [9], [7,9,0]]
new_list = list(itertools.chain(*original_list))
new_list

[2, 4, 3, 1, 5, 6, 9, 7, 9, 0]

Python program to append a list to the second list

In [ ]:
list1 = [10, 20, 30, 50, 30]
list2 = [10, 20]
list1.extend(list2)
list1

[10, 20, 30, 50, 30, 10, 20]

Python program to find the second largest number in a list

In [ ]:
list1 = [10, 20, 30, 50, 30]
sorted_list = sorted(list1, reverse = True)
print('second largest element:', sorted_list[1])

second largest element: 30

Python program to find the second largest number in a list

In [ ]:
list1 = [10, 20, 30, 50, 30]
sorted_list = sorted(list1)
print('second smallest element:', sorted_list[1])

second smallest element: 20

Python program to get unique values from a list

In [ ]:
list1 = [10, 20, 30, 50, 30]
print('Unique values in list:', list(set(list1)))

Unique values in list: [10, 20, 50, 30]

Python program to get the frequency of elements in a list

In [ ]:
# With Counter
# from collections import Counter
# list1 = [10, 20, 30, 50, 30]
# Counter(list1)
# Without counter
list1 = [10, 20, 30, 50, 30]
new_list = {}
for i in list1:
  sum1 = 0
  if i in new_list:
    new_list[str(i)] += 1
  else:
    new_list[str(i)] = 1

new_list

{'10': 1, '20': 1, '30': 1, '50': 1}

Python program to create a list by concatenating a given list with a range from 1 to n.
Sample list : ['p', 'q']
n =5
Sample Output : ['p1', 'q1', 'p2', 'q2', 'p3', 'q3', 'p4', 'q4', 'p5', 'q5']

In [ ]:
sample_list = ['p', 'q']
n = 5
new_list = []
for i in range(1, n+1):
  for j in sample_list:
    new_list.append(j + str(i))

new_list

['p1', 'q1', 'p2', 'q2', 'p3', 'q3', 'p4', 'q4', 'p5', 'q5']

Python program to find common items in two lists

In [ ]:
list1 = [10, 20, 30, 40]
list2 = [100, 40, 30, 60]
set(list1) & set(list2)

{30, 40}

Python program to convert a list of multiple integers into a single integer
Sample list: [11, 33, 50]
Expected Output: 113350

In [ ]:
sample_list = [11, 33, 50]
string = ''
for i in sample_list:
  string = string + str(i)
int(string)

113350

Python program to select the odd items and even items from a list

In [ ]:
list1 = [10, 20, 30, 55, 50, 20, 40, 65, 75]
even_items = []
odd_items = []
for i in list1:
  if i%2 == 0:
    even_items.append(i)
  else:
    odd_items.append(i)

print('even nos list', even_items)
print('odd nos list', odd_items)

even nos list [10, 20, 30, 50, 20, 40]
odd nos list [55, 65, 75]

Python program to compute the difference between two lists.

In [ ]:
list1 = ["red", "orange", "green", "blue", "white"]
list2 = ["black", "yellow", "green", "blue"]
print('list1 - list2', set(list1) - set(list2))
print('list2 - list1', set(list2) - set(list1))

list1 - list2 {'red', 'orange', 'white'}
list2 - list1 {'black', 'yellow'}

Python program to convert a string to a list

In [ ]:
string = 'google'
list(string)

['g', 'o', 'o', 'g', 'l', 'e']

Python program to replace the last element in a list with another list
Sample data : [1, 3, 5, 7, 9, 10], [2, 4, 6, 8]
Expected Output: [1, 3, 5, 7, 9, 2, 4, 6, 8]

In [ ]:
sample_data =  [1, 3, 5, 7, 9, 10]
added_data = [2, 4, 6, 8] 
del sample_data[-1]
sample_data.extend(added_data)
sample_data

[1, 3, 5, 7, 9, 2, 4, 6, 8]

Python program to iterate over two lists simultaneously

In [ ]:
list1 = [10, 30, 40]
list2 = [30, 30, 70]
list(zip(list1, list2))

[(10, 30), (30, 30), (40, 70)]

Write a Python program to move all zero digits to the end of a given list of numbers. Original list:
[3, 4, 0, 0, 0, 6, 2, 0, 6, 7, 6, 0, 0, 0, 9, 10, 7, 4, 4, 5, 3, 0, 0, 2, 9, 7, 1]
Move all zero digits to end of the said list of numbers:
[3, 4, 6, 2, 6, 7, 6, 9, 10, 7, 4, 4, 5, 3, 2, 9, 7, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [ ]:
Original_list = [3, 4, 0, 0, 0, 6, 2, 0, 6, 7, 6, 0, 0, 0, 9, 10, 7, 4, 4, 5, 3, 0, 0, 2, 9, 7, 1] 
list_with_zeros = []
list_without_zeros = []
expected_list = []
for i in Original_list:
  if i == 0:
    list_with_zeros.append(i)
  else:
    list_without_zeros.append(i)
list_without_zeros.extend(list_with_zeros)
list_without_zeros

[3,
 4,
 6,
 2,
 6,
 7,
 6,
 9,
 10,
 7,
 4,
 4,
 5,
 3,
 2,
 9,
 7,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0]

Python program to find the list in a list of lists whose sum of elements is the highest
Sample lists: [1,2,3], [4,5,6], [10,11,12], [7,8,9]
Expected Output: [10, 11, 12]

In [ ]:
sample_list = [[1,2,3], [4,5,6], [10,11,12], [7,8,9]]
new_dict  = {}
for i in sample_list:
  sum1 = 0
  for j in i:
    sum1 += j
  new_dict[str(i)] = sum1
new_dict
max_sum =  max(new_dict.values())
min_sum = min(new_dict.values())
expected_dict = {}
for i, j in new_dict.items():
  if j == min_sum:
    expected_dict[i] = j
  if j == max_sum:
    expected_dict[i] = j
expected_dict

{'[1, 2, 3]': 6, '[10, 11, 12]': 33}

Python program to extend a list without appending. 
Sample data: [10, 20, 30]
[40, 50, 60]
Expected output : [40, 50, 60, 10, 20, 30]

In [ ]:
sample_data = [10, 20, 30]
list_appended = [40, 50, 60]
sample_data.extend(list_appended)
sample_data

[10, 20, 30, 40, 50, 60]

Python program to remove duplicates from a list of lists.
Sample list : [[10, 20], [40], [30, 56, 25], [10, 20], [33], [40]]
New List : [[10, 20], [30, 56, 25], [33], [40]]

In [ ]:
sample_list = [[10, 20], [40], [30, 56, 25], [10, 20], [33], [40]]
string_list = []
for i in sample_list:
  string_list.append(str(i))
print('Unique elements in list :', set(string_list))

Unique elements in list : {'[40]', '[30, 56, 25]', '[10, 20]', '[33]'}

 Python program to find items starting with a specific character from a list
 Original list:
['abcd', 'abc', 'bcd', 'bkie', 'cder', 'cdsw', 'sdfsd', 'dagfa', 'acjd']

In [ ]:
original_list = ['abcd', 'abc', 'bcd', 'bkie', 'cder', 'cdsw', 'sdfsd', 'dagfa', 'acjd']
unique_chars_list = []
for i in original_list:
  unique_chars_list.append(i[0])
unique_chars_list = list(set(unique_chars_list))
chars_dict = {'a' : [], 'b': [], 'c': [], 'd': [], 's': []}
for i in original_list:
  if i[0] == 'a':
    chars_dict['a'].append(i)
  elif i[0] == 'b':
    chars_dict['b'].append(i)
  elif i[0] == 'c':
    chars_dict['c'].append(i)
  elif i[0] == 'd':
    chars_dict['d'].append(i)
  else:
    chars_dict['s'].append(i)
chars_dict

{'a': ['abcd', 'abc', 'acjd'],
 'b': ['bcd', 'bkie'],
 'c': ['cder', 'cdsw'],
 'd': ['dagfa'],
 's': ['sdfsd']}

Sort the list in an ascending order python

In [11]:
my_list = [-15, -26, 15, 1, 23, -64, 23, 76]
new_list = []

while my_list:
    min = my_list[0]  
    for x in my_list: 
        if x < min:
            min = x
    new_list.append(min)
    my_list.remove(min)    

print(new_list)

[-64, -26, -15, 1, 15, 23, 23, 76]